body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    
    height: 100%; /* Set container height to 100% */
    background-color: #f8f6f3;
}

.left {
    width: 45%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f6f3;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}

.right {
    background-color: #f8f6f3;
    height: 100%; /* Set right side height to 100% */
}

img {
    max-width: 100%;
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
    width: auto; /* Allow the image to scale proportionally */
    height: auto; /* Allow the image to scale proportionally */
}

#hadding {
    font-size: 65px;
}

.txt {
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 20px; /* Add margin between paragraphs */
}